{% load static %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        {% load static %}  
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" > 
        <link href="{% static 'insert_records.css' %}" rel="stylesheet" >
    
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <div>
        <title>Data Analysis</title>
        </div>

        <style>

            a:link, a:visited {
              background-color: transparent;
              color: black;
              border: 1px solid rgb(3, 17, 83);
              padding: 5px 12px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
            }
            
            a:hover, a:active {
              background-color: rgb(41, 69, 226);
              color: black;
            }

            .currSign:after {
            content: ' €';
            }
                </style>
    </head>
    <body id = "grad">
        <center>

            <div id = "heading" >
                <div id ="Logo"> 
                    <img src = "static/Logo.png" width = "130" height = "71" >
                </div>
        
            <h1> Data Analysis </h1>
            
            </div>
        
        </br>

        
    <form method='post'>
                {% csrf_token %}
            <div>
                <table style="font-family: monospace;">
                  
            <tr>
                <td style="width: 15%"></td>
                <td>Select&nbspa&nbspSystem&nbspCode:&nbsp</td> 
                <td><input list = "systemcodes" class = "form-control" value = {{syscode}} name = "syscode"> </td>
                <datalist id="systemcodes">
                
                    <option >S1VE</option>
                    <option >S1VE-TCR</option>
                    <option>S1VE-TCR-FSK</option>
                     
                    <option> S1VE-TCR-FSK-USH</option>
                    
                    <option > S1VE-TCR-ASK</option>
                    
                    <option> S1VE-TCR-ASK</option>
                   <option>S1VE-TCR-TSF</option> 
                     <option>S1VE-TCR-PMD
                    </option>
                      <option>S1VE-TCR-PMD-AVX
                    </option>
                    <option>S1VE-TCR-PMD-FLR
                    </option>
                    <option> S1VE-TCR-SNS
                    </option>
                    <option > S1VE-TCR-SNS-LVL
                    </option>
                    <option > S1VE-TCR-SNS-PTS

                    </option>
                    <option > S1VE-TCR-SNS-AUX
                    </option>
                    <option > S1VE-TCR-ITP
                    </option>
                    <option > S1VE-TFM
                    </option>
                    <option > S1VE-TFM-STR
                    </option>
                    <option > S1VE-TFM-REL
                    </option>
                    <option > S1VE-TFM-USH
                    </option>
                    <option > S1VE-TFM-SST
                    </option>
                    <option > S1VE-TFM-SST
                    </option>
                    <option > S1VE-TFM-SST-USS
                    </option>
                    <option > S1VE-TFM-VAC
                    </option>
                    <option > S1VE-TFM-VAC-USV
                    </option>
                    <option > S1VE-PRS
                    </option>
                    <option > S1VE-PRS-REG
                    </option>
                    <option > S1VE-PRS-RLF
                    </option>
                    <option > S1VE-PRS-RLF-ACT
                    </option>
                    <option > S1VE-PRS-RLF-300
                    </option>
                    <option > S1VE-PRS-RLF-300
                    </option>
                    <option >S1VE-PRS-THP
                    </option>
                    <option >S1VE-PRS-THP-HES
                    </option>
                    <option >S1VE-PRS-THP-SNS
                    </option>
                    <option >S1VE-PRS-THP-USG
                    </option>
                    <option >S1VE-PLS
                    </option>
                    <option >S1VE-PLS-USC
                    </option>
                    <option >S1VE-PLS-USR
                    </option>
                    <option >S1VE-PLS-MCV
                    </option>
                    <option >S1VE-SEP
                    </option>
                    <option >S1VE-SEP-ACT
                    </option>
                    <option >S1VE-SEP-REC
                    </option>
                    <option >S1VE-SEP-PHR
                    </option>
                    <option >S1VE-RVY
                    </option>
                    <option >S2VE
                    </option>
                    <option >S2VE-TCR
                    </option>
                    <option >S2VE-TCR
                    </option>
                    <option >S2VE-TCR
                    </option>
                    <option >S2VE-TCR-STR
                    </option>
                    <option >S2VE-TCR-BSF
                    </option>
                    <option >S2VE-TCR-TSF
                    </option>
                    <option >S2VE-TCR-PMD
                    </option>
                    <option >S2VE-TCR-PMD
                    </option>
                    <option >S2VE-TCR-PMD-ASL
                    </option>
                    <option >S2VE-TCR-PMD-AVX
                    </option>
                    <option >S2VE-TCR-PMD-FLR
                    </option>
                    <option >S2VE-TCR-SNS
                    </option>
                    <option >S2VE-TCR-SNS-LVL
                    </option>
                    <option >S2VE-TCR-SNS-PTS
                    </option>
                    <option >S2VE-TCR-SNS-AUX
                    </option>
                    <option >S2VE-TCR-ITP
                    </option>
                    <option >S2VE-TCR-TFM
                    </option>
                    <option >S2VE-TCR-CNE
                    </option>
                    <option >S2VE-PRS
                    </option>
                    <option >S2VE-PRS-REG
                    </option>
                    <option >S2VE-PRS-RLF
                    </option>
                    <option >S2VE-PRS-THP
                    </option>
                    <option >S2VE-PRS-THP-HES
                    </option>
                    <option >S2VE-PRS-THP-SNS
                    </option>
                    <option >S2VE-PRS-THP-USG
                    </option>
                    <option >S2VE-PLS
                    </option>
                    <option >S2VE-PLS-USC
                    </option>
                    <option >S2VE-PLS-USR
                    </option>
                    <option >S2VE-PLS-MCV
                    </option>
                    <option >S2VE-SEP
                    </option>
                    <option >S2VE-SEP-ACT
                    </option>
                    <option >S2VE-SEP-REC
                    </option>
                    <option >S2VE-SEP-PHR
                    </option>
                    <option >S2VE-RCS
                    </option>
                    <option >S2VE-RCS-USG
                    </option>
                    <option >S2VE-SST
                    </option>
                    <option >S3VE
                    </option>
                    <option >S3VE
                    </option>
                    <option >S3VE-KST
                    </option>
                    <option >S3VE-KST-STR
                    </option>
                    <option >S3VE-KST-SAB
                    </option>
                    <option >S3VE-KST-TNK
                    </option>
                    <option >S3VE-KST-TNK
                    </option>
                    <option >S3VE-KST-TNK-PMD
                    </option>
                    <option >S3VE-KST-TNK-PMD-ASL
                    </option>
                    <option >S3VE-KST-TNK-PMD-AVX
                    </option>
                    <option >S3VE-KST-TNK-PMD-FLR
                    </option>
                    <option >S3VE-KST-HES
                    </option>
                    <option >S3VE-KST-SNS
                    </option>
                    <option >S3VE-KST-USS
                    </option>
                    <option >S3VE-KST-USG
                    </option>
                    <option >S3VE-KST-ITP
                    </option>
                    <option >S3VE-SEP
                    </option>
                    <option >S3VE-SEP-ACT
                    </option>
                    <option >S3VE-SEP-REC
                    </option>
                    <option >S3VE-SEP-PHR
                    </option>
                    <option >S3VE-RCS
                    </option>
                    <option >S3VE-RCS-USG
                    </option>
                    <option >S3VE-DSP
                    </option>
                    <option >S3VE-FRG
                    </option>
                    <option >S3VE-FRG-STR
                    </option>
                    <option >S3VE-FRG-FLR
                    </option>
                    <option >S3VE-FRG-SNS
                    </option>
                    <option >S3VE-FRG-ITP
                    </option>
                    <option >S3VE-FRG-USH
                    </option>
                    <option >S3VE-FRG-SEP
                    </option>
                    <option >S3VE-FRG-SEP-ACT
                    </option>
                    <option >S3VE-FRG-SEP-REC
                    </option>
                    <option >S3VE-FRG-SEP-PHR
                    </option>
                    <option >S1PR
                    </option>
                    <option >S1PR-E01
                    </option>
                    <option >S1PR-E01-TCA
                    </option>
                    <option >S1PR-E01-TPU
                    </option>
                    <option >S1PR-E01-TPU-PMP
                    </option>
                    <option >S1PR-E01-TPU-CLT
                    </option>
                    <option >S1PR-E01-TPU-SEL
                    </option>
                    <option >S1PR-E01-TPU-TUR
                    </option>
                    <option >S1PR-E01-TPU-GGU
                    </option>
                    <option >S1PR-E01-TPU-IGN
                    </option>
                    <option >S1PR-E01-TPU-SSS
                    </option>
                    <option >S1PR-E01-TPU-BOV
                    </option>
                    <option >S1VE-PRS-RLF-200 
                    </option>
                    <option >S1PR-E01-TPU-SEN 
                    </option>
                    <option >S1PR-E02 
                    </option>
                    <option >S1PR-E02-SLE 
                    </option>
                    <option >S1PR-E02-RDF 
                    </option>
                    <option >S1PR-E02-0GA 
                    </option>
                    <option >S1PR-E02-0GA-IGN 
                    </option>
                    <option >S1PR-E02-0GA-GDT 
                    </option>
                    <option >S1PR-E02-0GA-GDT-RDF 
                    </option>
                    <option >S1PR-E02-0GA-SNS 
                    </option>
                    <option >S1PR-E02-0GA-OXL 
                    </option>
                    <option >S1PR-E02-0GA-OXL-APD 
                    </option>
                    <option >S1PR-E02-0GA-GEJ 
                    </option>
                    <option >S1PR-E02-0GA-PVC 
                    </option>
                    <option >S1PR-E02-0GA-FUL 
                    </option>
                    <option >S1PR-E02-0GA-SST 
                    </option>
                    <option >S1PR-E02-0GA-PUL 
                    </option>
                    <option >S1PR-E02-0GA-HTS 
                    </option>
                    <option >S1PR-E02-0GA-MTH 
                    </option>
                    <option >S1PR-E02-0GA-PRS 
                    </option>
                    <option >S1PR-E02-1EC 
                    </option>
                    <option >S1PR-E02-1EC-RDF 
                    </option>
                    <option >S1PR-E02-1EC-MIX 
                    </option>
                    <option >S1PR-E02-1EC-MIX-RDF 
                    </option>
                    <option >S1PR-E02-1EC-TCA 
                    </option>
                    <option >S1PR-E02-1EC-TCA-RDF 
                    </option>
                    <option >S1PR-E02-1EC-IGN 
                    </option>
                    <option >S1PR-E02-1EC-IGN-RDF 
                    </option>
                    <option >S1PR-E02-1EC-IGN-RDF 
                    </option>
                    <option >S1PR-E02-2TP 
                    </option>
                    <option >S1PR-E02-2TP-OXP 
                    </option>
                    <option >S1PR-E02-2TP-FUP 
                    </option>
                    <option >S1PR-E02-2TP-TUM 
                    </option>
                    <option >S1PR-E02-2TP-TUM-RDF 
                    </option>
                    <option >S1PR-E02-3PB 
                    </option>
                    <option >S1PR-E02-3PB-RDF 
                    </option>
                    <option >S1PR-E02-3PB-MIX 
                    </option>
                    <option >S1PR-E02-3PB-MIX-RDF 
                    </option>
                    <option >S1PR-E02-3PB-TCA 
                    </option>
                    <option >S1PR-E02-3PB-TCA-RDF 
                    </option>
                    <option >S1PR-E02-3PB-IGN 
                    </option>
                    <option >S1PR-E02-3PB-IGN-RDF 
                    </option>
                    <option >S1PR-E02-4CU 
                    </option>
                    <option >S1PR-E02-4CU-401 
                    </option>
                    <option >S1PR-E02-4CU-402 
                    </option>
                    <option >S1PR-E02-4CU-402-RDF 
                    </option>
                    <option >S1PR-E02-4CU-403 
                    </option>
                    <option >S1PR-E02-4CU-403-RDF 
                    </option>
                    <option >S1PR-E02-4CU-404 
                    </option>
                    <option >S1PR-E02-4CU-405 
                    </option>
                    <option >S1PR-E02-4CU-405-RDF 
                    </option>
                    <option >S1PR-E02-4CU-406 
                    </option>
                    <option >S1PR-E02-4CU-407 
                    </option>
                    <option >S1PR-E02-4CU-407-RDF 
                    </option>
                    <option >S1PR-E02-4CU-408 
                    </option>
                    <option >S1PR-E02-4CU-408-RDF 
                    </option>
                    <option >S1PR-E02-4CU-409 
                    </option>
                    <option >S1PR-E02-4CU-410 
                    </option>
                    <option >S1PR-E02-4CU-410-RDF 
                    </option>
                    <option >S1PR-E02-4CU-411 
                    </option>
                    <option >S1PR-E02-4CU-FTS 
                    </option>
                    <option >S1PR-E02-4CU-COX 
                    </option>
                    <option >S1PR-E02-ECU 
                    </option>
                    <option >S1PR-E02-TVC 
                    </option>
                    <option >S1PR-E02-TVC-ACT 
                    </option>
                    <option >S1PR-E02-TVC-PWR 
                    </option>
                    <option >S1PR-E02-TVC-GIM 
                    </option>
                    <option >S1PR-E02-TVC-MTH 
                    </option>
                    <option >S1PR-E02-AUX 
                    </option>
                    <option >S1PR-E02-AUX-RDF 
                    </option>
                    <option >S2PR 
                    </option>
                    <option >S2PR-E02 
                    </option>
                    <option >S2PR-E02-AUX 
                    </option>
                    <option >S2PR-E02-NEX 
                    </option>
                    <option >S3PR 
                    </option>
                    <option >S3PR-K01 
                    </option>
                    <option >S3PR-K01-TCA 
                    </option>
                    <option >S3PR-K01-TCA-IGN 
                    </option>
                    <option >S3PR-K01-TCA-INJ 
                    </option>
                    <option >S3PR-K01-TCA-TCH 
                    </option>
                    <option >S3PR-K01-TRV 
                    </option>
                    <option >S3PR-K01-TVC 
                    </option>
                    <option >S1AV 
                    </option>
                    <option >S1AV-NDE 
                    </option>
                    <option >S1AV-NDE-N01 
                    </option>
                    <option >S1AV-COM 
                    </option>
                    <option >S1AV-PWR 
                    </option>
                    <option >S1AV-PWR-BAT 
                    </option>
                    <option >S1AV-FTS 
                    </option>
                    <option >S1AV-EUS 
                    </option>
                    <option >S1AV-EUS-GRD 
                    </option>
                    <option >S1AV-EUS-GRD-COM 
                    </option>
                    <option >S1AV-EUS-GRD-PWR 
                    </option>
                    <option >S1AV-EUS-INT 
                    </option>
                    <option >S1AV-EUS-INT-COM 
                    </option>
                    <option >S1AV-EUS-INT-PWR 
                    </option>
                    <option >S1AV-WRG 
                    </option>
                    <option >S1AV-RTS 
                    </option>
                    <option >S1AV-RVY 
                    </option>
                    <option >S2AV 
                    </option>
                    <option >S2AV-NDE 
                    </option>
                    <option >S2AV-COM 
                    </option>
                    <option >S2AV-PWR 
                    </option>
                    <option >S2AV-FTS 
                    </option>
                    <option >S2AV-EUS 
                    </option>
                    <option >S2AV-WRG 
                    </option>
                    <option >S3AV 
                    </option>
                    <option >S3AV-NAV 
                    </option>
                    <option >S3AV-NAV-TSO 
                    </option>
                    <option >S3AV-NAV-SIM 
                    </option>
                    <option >S3AV-NAV-INS 
                    </option>
                    <option >S3AV-RFS 
                    </option>
                    <option >S3AV-FCS 
                    </option>
                    <option >S3AV-NDE 
                    </option>
                    <option >S3AV-COM 
                    </option>
                    <option >S3AV-PWR 
                    </option>
                    <option >S3AV-EUS 
                    </option>
                    <option >S3AV-WRG 
                    </option>
                    <option >GRND-3DP 
                    </option>
                    <option >GRND-3DP-MRO 
                    </option>
                    <option >GRND-VAC 
                    </option>
                    <option >GRND-EN1 
                    </option>
                    <option >GRND-EN1-MRO 
                    </option>
                    <option >GRND-SHK 
                    </option>
                    <option >GRND-SHK-MRO 
                    </option>
                    <option >GRND-ELC 
                    </option>
                    <option >GRND-HPH 
                    </option>
                    <option >GRND-HPH-MRO 
                    </option>
                    <option >GRND-NM1 
                    </option>
                    <option >GRND-NM1-DAQ 
                    </option>
                    <option >GRND-NM1-MRO 
                    </option>
                    <option >GRND-TPU 
                    </option>
                    <option >GRND-TPU-TRG 
                    </option>
                    <option >GRND-TPU-TRG-MRO 
                    </option>
                    <option >GRND-TPU-PTR 
                    </option>
                    <option >GRND-TPU-PTR-MRO 
                    </option>
                    <option >GRND-TPU-STR 
                    </option>
                    <option >GRND-TPU-STR-MRO 
                    </option>
                    <option >GRND-TPU-MRO 
                    </option>
                    <option >GRND-HIL 
                    </option>
                    <option >GRND-HIL-SCE 
                    </option>
                    <option >GRND-HIL-MRO 
                    </option>
                    <option >GRND-INS 
                    </option>
                    <option >GRND-INS-MRO 
                    </option>
                    <option >GRND-INS 
                    </option>
                    <option >GRND-INS-MRO 
                    </option>
                    <option >GRND-CRS 
                    </option>
                    <option >GRND-TS1 
                    </option>
                    <option >GRND-TS1-HTS 
                    </option>
                    <option >GRND-TS1-HTS-TB1 
                    </option>
                    <option >GRND-TS1-HTS-TB1-PFT 
                    </option>
                    <option >GRND-TS1-HTS-TB1-PWP 
                    </option>
                    <option >GRND-TS1-HTS-MRO 
                    </option>
                    <option >GRND-TS1-VTS 
                    </option>
                    <option >GRND-TS1-VTS-IEQ 
                    </option>
                    <option >GRND-TS1-VTS-IST 
                    </option>
                    <option >GRND-TS1-VTS-MRO 
                    </option>
                    <option >GRND-TS1-HTX 
                    </option>
                    <option >GRND-TS1-HTX-MRO 
                    </option>
                    <option >GRND-TS1-MRO
                    </option>
                    <option >GRND-TAS
                    </option>
                    <option >GRND-TAS-SWG
                    </option>
                    <option >GRND-TAS-SWG-MRO
                    </option>
                    <option >GRND-TAS-SG1
                    </option>
                    <option >GRND-TAS-SG1-MRO
                    </option>
                    <option >GRND-TAS-SG2
                    </option>
                    <option >GRND-TAS-SG2-MRO
                    </option>
                    <option >GRND-TAS-MRO
                    </option>
                    <option >GRND-TVC
                    </option>
                    <option >GRND-TVC-LDB
                    </option>
                    <option >GRND-TVC-MRO
                    </option>
                    <option >GRND-INT
                    </option>
                    <option >GRND-INT-MRO
                    </option>
                    <option >GRND-HY1
                    </option>
                    <option >GRND-HY1-HST
                    </option>
                    <option >GRND-HY1-HST-MRO
                    </option>
                    <option >GRND-HY1-CTN
                    </option>
                    <option >GRND-HY1-CTN-MRO
                    </option>
                    <option >GRND-HY1-CLN
                    </option>
                    <option >GRND-HY1-CLN-MRO
                    </option>
                    <option >GRND-HY1-MRO
                    </option>
                    <option >GRND-HFR
                    </option>
                    <option >GRND-HFR-MRO
                    </option>
                    <option >GRND-BST
                    </option>
                    <option >GRND-BST-MRO
                    </option>
                    <option >GRND-INJ
                    </option>
                    <option >GRND-INJ-MRO
                    </option>
                    <option >GRND-STR
                    </option>
                    <option >GRND-STR-VE1
                    </option>
                    <option >GRND-STR-VE1-MRO
                    </option>
                    <option >GRND-STR-REL
                    </option>
                    <option >GRND-STR-REL-MRO
                    </option>
                    <option >GRND-STR-SEP
                    </option>
                    <option >GRND-STR-SEP-MRO
                    </option>
                    <option >GRND-STR-FRG
                    </option>
                    <option >GRND-STR-FRG-MRO
                    </option>
                    <option >GRND-STR-COM
                    </option>
                    <option >GRND-STR-COM-MRO
                    </option>
                    <option >GRND-STR-KST
                    </option>
                    <option >GRND-STR-KST-MRO
                    </option>
                    <option >GRND-STR-MRO
                    </option>
                    <option >GRND-SNS
                    </option>
                    <option >GRND-SNS-PSS
                    </option>
                    <option >GRND-SNS-MRO
                    </option>
                    <option >GRND-PDT
                    </option>
                    <option >GRND-PDT-MRO
                    </option>
                    <option >GRND-SLT
                    </option>
                    <option >GRND-SLT-IST
                    </option>
                    <option >GRND-SLT-OST
                    </option>
                    <option >GRND-SLT-OST-PMD
                    </option>
                    <option >GRND-SLT-OST-PMD-ASL
                    </option>
                    <option >GRND-SLT-OST-PMD-AVX
                    </option>
                    <option >GRND-SLT-OST-PMD-FLR
                    </option>
                    <option >GRND-SLT-IST
                    </option>
                    <option >GRND-SLT-OST
                    </option>
                    <option >GRND-SLT-HEX
                    </option>
                    <option >GRND-FUR
                    </option>
                    <option >GRND-FUR-MRO
                    </option>
                    <option >GRND-PST
                    </option>
                    <option >GRND-PST-MRO
                    </option>
                    <option >GRND-PHS
                    </option>
                    <option >GRND-PHS-MRO
                    </option>
                    <option >GRND-PD2
                    </option>
                    <option >GRND-PD2-MRO
                    </option>
                    <option >FCLY-WS1
                    </option>
                    <option >FCLY-WS1-CON
                    </option>
                    <option >FCLY-WS1-PPE
                    </option>
                    <option >FCLY-WS2
                    </option>
                    <option >FCLY-WS2-REL
                    </option>
                    <option >FCLY-WS2-OFF
                    </option>
                    <option >FCLY-WS2-PRO
                    </option>
                    <option >FCLY-WS2-CON
                    </option>
                    <option >FCLY-WS2-PPE
                    </option>
                    <option >FCLY-WS2-CLN
                    </option>
                    <option >FCLY-WS2-ELC
                    </option>
                    <option >FCLY-WS2-TST
                    </option>
                    <option >FCLY-WS2-MAC
                    </option>
                    <option >FCLY-WS2-MAC-MRO
                    </option>
                    <option >FCLY-WSP
                    </option>
                    <option >FCLY-WSP-OFF
                    </option>
                    <option >FCLY-WSP-PRO
                    </option>
                    <option >FCLY-WSP-CON
                    </option>
                    <option >FCLY-WSP-PPE
                    </option>
                    <option >FCLY-IT 
                    </option>
                    <option >FCLY-IT-USR  
                    </option>
                    <option >FCLY-IT-ITI   
                    </option>
                    <option >FCLY-SSC   
                    </option>
                    <option >FCLY-C1    
                    </option>
                    <option >FCLY-TC1   
                    </option>
                    <option >FCLY-MCC  
                    </option>
                    <option >FCLY-MCC-MCS  
                    </option>
                    <option >BDSM-MKT  
                    </option>
                    <option >BDSM-MKT-EVT  
                    </option>
                    <option >BDSM-MKT-WEB  
                    </option>
                    <option >BDSM-MKT-SMX 
                    </option>
                    <option >BDSM-MKT-SYM 
                    </option>
                    <option >BDSM-SAL 
                    </option>
                    <option >BDSM-SAL-AST 
                    </option>
                    <option >BDSM-SAL-RAY 
                    </option>
                    <option >BDSM-SAL-OSE 
                    </option>
                    <option >BDSM-SAL-CLS
                    </option>
                    <option >BDSM-SAL-OIT
                    </option>
                    <option >BDSM-SAL-AST
                    </option>
                    <option >BDSM-SAL-PIM
                    </option>
                    <option >BDSM-SAL-PUG
                    </option>
                    <option >BDSM-BDX
                    </option>
                    <option >BDSM-BDX-ESA
                    </option>
                    <option >BDSM-BDX-ESA-LCA
                    </option>
                    <option >BDSM-BDX-ESA-CST
                    </option>
                    <option >BDSM-BDX-ESA-CST-OP1
                    </option>
                    <option >BDSM-BDX-ESA-CST-OP2
                    </option>
                    <option >BDSM-BDX-ESA-CST-OP3
                    </option>
                    <option >BDSM-BDX-ESA-CST-FP1
                    </option>
                    <option >BDSM-BDX-ESA-PD2
                    </option>
                    <option >BDSM-BDX-ESA-FAM
                    </option>
                    <option >BDSM-BDX-EMS
                    </option>
                    <option >BDSM-BDX-MCS
                    </option>
                    <option >BDSM-BDX-BAY
                    </option>
                    <option >BDSM-BDX-NMO
                    </option>
                    <option >BDSM-BDX-NMO-UM2
                    </option>
                    <option >BDSM-BDX-NMO-EL3
                    </option>
                    <option >BDSM-BDX-KSP
                    </option>
                    <option >BDSM-BDX-BJS
                    </option>
                    <option >BDSM-BDX-F9X
                    </option>
                    <option >BDSM-BDX-RAF
                    </option>
                    <option >BDSM-BDX-RAF-TPB
                    </option>
                    <option >BDSM-BDX-RAF-CCT
                    </option>
                    <option >BDSM-BDX-RAF-NAM
                    </option>
                    <option >BDSM-BDX-RAF-CBP
                    </option>
                    <option >BDSM-BDX-RAF-REM
                    </option>
                    <option >BDSM-BDX-EUC
                    </option>
                    <option >BDSM-BDX-EUC-LCL
                    </option>
                    <option >BDSM-BDX-EUC-HEU
                    </option>
                    <option >BDSM-BDX-EUC-ETP
                    </option>
                    <option >BDSM-BDX-EUC-SCI
                    </option>
                    <option >BDSM-BDX-AIC
                    </option>
                    <option >FDPT-ESA
                    </option>
                    <option >FDPT-ESA-LCA
                    </option>
                    <option >FDPT-ESA-CST
                    </option>
                    <option >FDPT-ESA-CST-FSD
                    </option>
                    <option >FDPT-ESA-CST-OSD
                    </option>
                    <option >FDPT-ESA-NST
                    </option>
                    <option >FDPT-NMO
                    </option>
                    <option >FDPT-NMO-UM2
                    </option>
                    <option >FDPT-EMS
                    </option>
                    <option >FDPT-MCS
                    </option>
                    <option >FDPT-KSP
                    </option>
                    <option >FDPT-AWO
                    </option>
                    <option >FDPT-AIC
                    </option>
                    <option >C1
                    </option>
                    <option >C1AZ
                    </option>
                    <option >C1AZ-PAD
                    </option>
                    <option >C1AZ-PAD-GAS
                    </option>
                    <option >C1AZ-PAD-LOX
                    </option>
                    <option >C1AZ-PAD-LN2
                    </option>
                    <option >C1AZ-PAD-AIF
                    </option>
                    <option >C1AZ-PAD-WDS
                    </option>
                    <option >C1AZ-PAD-UM1
                    </option>
                    <option >C1AZ-PAD-LPS
                    </option>
                    <option >C1AZ-PAD-ERC
                    </option>
                    <option >C1AZ-PAD-IXF
                    </option>
                    <option >C1AZ-PAD-IXF-FSP
                    </option>
                    <option >C1AZ-GRY
                    </option>
                    <option >C1AZ-SEA
                    </option>
                    <option >C1AZ-DGS
                    </option>
                    <option >C1AZ-FLY
                    </option>
                    <option >C1AZ-OPS
                    </option>
                    <option >C1AZ-LCC
                    </option>
                    <option >C1AZ-SLV
                    </option>
                    <option >C1AZ-LOG
                    </option>
                    <option >C1NO
                    </option>
                    <option >C1NO-FLY
                    </option>
                    <option >C1AZ-OPS
                    </option>
                    <option >C1AZ-LCC
                    </option>
                    <option >C1AZ-SLV
                    </option>
                    <option >C1AZ-LOG
                    </option>
                    <option >C1NO
                    </option>
                    <option >C1NO-FLY
                    </option>
                    <option >C1NO-PAD
                    </option>
                    <option >C1NO-LIC
                    </option>
                    <option >C1NO-IXF
                    </option>
                    <option >C2FR
                    </option>
                    <option >C2FR-FLY
                    </option>
                    <option >C2FR-OPS
                    </option>
                    <option >C2FR-GRY
                    </option>
                    <option >C4CA
                    </option>
                    <option >C5DE
                    </option>
                    <option >C6OM
                    </option>
                    <option >C7UK
                    </option>
                    <option >Management
                    </option>
                    <option >IT
                    </option>
                </datalist>
                
               
             
                <td>
                    <input type = "submit" class = "btn btn-outline-success" value = "Get Details"  name = "details">
                </td>
                
                <td style = "width: 6%; font-family: monospace;"></td>
                <td > Current&nbspOverall&nbspExpenditure:&nbsp </td>  <td class ="myDIV">{{summation}}  </td>
                <td style = "width:10%"></td>
                <td><a href = "{% url 'first_page' %}" > &#x1F3E0 </a></td>
            </tr>   
            <tr> </tr>
            <tr> </tr>
        </table>
    </div>
       
</br>
 
              <table>
                  <tr>

                <td> <input type = "submit" class = "btn btn-outline-success" value = "Over All NRC"  name = "overall"> </td>
                <td style = "width: 10%"></td>
                <td><input type="number" class ="form-control" min="2019" max="2220" step="1" value={{years}} name="year" /></td>
                <td> <input type="submit"    class = "btn btn-outline-success" value= "confirm" name = "choose" /></td>
                <td style = "width: 8%"></td>
               <td> <input list = "months" class="form-control"  placeholder="Select Month" name = "month"> </td> 
               <datalist id = "months">
                <option>
                    January
                </option>
                <option>
                    February
                </option>
                <option>
                    March
                </option>
                <option>
                    April
                </option>
                <option>
                    May
                </option>
                <option>
                    June
                </option>
                <option>
                    July
                </option>
                <option>
                    August
                </option>
                <option>
                    September
                </option>
                <option>
                    October
                </option>
                <option>
                    November
                </option>
                <option>
                    December
                </option>
               </datalist>
               <td> <input type="submit"  class = "btn btn-outline-success" value= "confirm" name = "choose1" /></td>


            </tr>
              </table>
            </form> 
        </br>

<div >
           <table >

            <tr>
               
                <div align = center >{% if messages %}
                    {% for mess in messages %}
                  
                    <b style ="color:rgb(50, 71, 189)">{{mess}}</b>
                  
                    {% endfor %}
                    {% endif %} </div>
              
                
            
         </tr>
      
               <tr>
   
                   <th>Labour Cost </th>
                   <td style = "width: 10%"> </td>
                   <th>Material Cost </th>
                   <td style = "width: 10%"> </td>
                   <th>Purchase Order </th>
                   <td style = "width: 10%"> </td>
                   <th>Total Cost </th>
                   <td style = "width: 10%"> </td>
                   <th>Completion Rate</th>
                  

               </tr>
             
               {% for record in total_nrc %}
               <tr>
              
           
                <td class = "myDIV">{{record.labour_cost}}</td>
                <td style = "width: 10%"> </td>
                <td class = "myDIV">{{record.material_cost}}</td>
                <td style = "width: 10%"> </td>
                <td class = "myDIV">{{record.purchase_orders}}</td>
                <td style = "width: 10%"> </td>
                <td class = "myDIV" >{{record.total_nrc}}</td>
                <td style = "width: 10%"> </td>
                <td >{{record.completion_rate}}</td>
            

               </tr>
                {% endfor %}
             


              </table>
            </div>  

       
    </br>
    <div align=center >
<h5 style = "font-family: monospace;"> Summed Up expenditures till selected period </h5>
    </div>
    <div>

        <table>
            
            <tr>
                <th>Labour Cost </th>
                <td style = "width: 10%"> </td>
                <th>Material Cost </th>
                <td style = "width: 10%"> </td>
                <th>Purchase Order </th>
                <td style = "width: 10%"> </td>
                <th> Sum  </th>
                <td style = "width: 10%"> </td>
                <th>Completion Rate</th>

            </tr>
          
            {% for record in total_nrc2 %}
            <tr>
             <td class = "myDIV">{{record.labour_cost}}</td>
             <td style = "width: 10%"> </td>
             <td class = "myDIV">{{record.material_cost}}</td>
             <td style = "width: 10%"> </td>
             <td class = "myDIV">{{record.purchase_orders}}</td>
             <td style = "width: 10%"> </td>
             <td class = "myDIV">{{record.total_nrc}}</td>
             <td style = "width: 10%"> </td>
             <td >{{record.completion_rate}}</td>

            </tr>
             {% endfor %}
          


           </table>

    </div>

        </br>
    

<div align=center >
<h5 style = "font-family: monospace;"> Summed up expenditure till selected period over all System Codes </h5>
</div>
<div>

    <table>
        
        <tr>
            <th>Labour Cost </th>
            <td style = "width: 10%"> </td>
            <th>Material Cost </th>
            <td style = "width: 10%"> </td>
            <th>Purchase Order </th>

        </tr>
    
        <tr>
         <td class = "myDIV">{{labour_total}}</td>
         <td style = "width: 10%"> </td>
         <td class = "myDIV">{{material_total}}</td>
         <td style = "width: 10%"> </td>
         <td class = "myDIV">{{purchase_total}}</td>
        </tr>
       </table>

</div>

</br>
</br>


        <div align = center   >
        <form method='post'>
            {% csrf_token %}
        <table >
            <tr>
             
               <td>
                    <input type = "submit" class = "btn btn-outline-warning" value = " By Max NRC"  name = "total">
                </td>
                <td> </td>
                <td> </td>
                <td>
                    <input type = "submit" class = "btn btn-outline-warning" value = " By Min NRC"  name = "total2">
                </td>
                <td> </td>
                <td> </td>
                <td>
                    <input type = "submit" class = "btn btn-outline-warning" value = "By Max Labour Cost"  name = "labour_max">
                </td>
                <td> </td>
                <td> </td>
                <td>
                    <input type = "submit" class = "btn btn-outline-warning" value = "By Min Labour Cost"  name = "labour_min">
                </td>
                <td> </td>
                <td> </td>
               <td> <input type = "submit" class = "btn btn-outline-warning" value = "By Max Material Cost"  name = "material_max"> </td>
                <td> </td>
                <td> </td>
                <td> <input type = "submit" class = "btn btn-outline-warning" value = "By Min Material Cost"  name = "material_min"> </td>
                <td> </td>
                <td> </td>
                <td>
                    <input type = "submit" class = "btn btn-outline-warning" value = "By Max Purchase Order"  name = "purchase_max">
                </td>
                <td> </td>
                <td> </td>
                <td>
                    <input type = "submit" class = "btn btn-outline-warning" value = "By Min Purchase Order"  name = "purchase_min">
                </td>


            </tr>
        </table>
        <tr> </tr>
        <p></p>
   

            <div style = " height: 170px; width: 1400px; overflow: auto;"  id= "fixTableHead"  >

                
            <table border =1  class = "table table-hover table-sm table-bordered" >
               
                <thead >
                    <tr>
                        <th style = "position:sticky; top: 0; background:#eee; "> System Code </th>
                        <th style = "position:sticky; top: 0; background:#eee;"> Labour Cost </th>
                        <th style = "position:sticky; top: 0; background:#eee;"> Material Cost </th>   
                        <th style = "position:sticky; top: 0; background:#eee;"> Purchase Orders </th> 
                        <th style = "position:sticky; top: 0; background:#eee; ">Total NRC </th>
                        <th style = "position:sticky; top: 0; background:#eee; ">Completion Rate</th>
                                 
                    </tr>
                </thead>
                {% for record in data %}
                <tbody >
                    <tr> 
                    <td > {{ record.system_code}}</td>   
                    <td class = "myDIV"> {{ record.labour_cost}}</td>   
                    <td class = "myDIV"> {{ record.material_cost}}</td> 
                    <td class = "myDIV"> {{ record.purchase_orders}}</td> 
                    <td class = "myDIV"> {{ record.total_nrc}}</td>
                    <td > {{ record.completion_rate}}</td>
                    </tr >

                    
          

         

                </tbody>
                {% endfor %}

         <tfoot>
             <tr style= "font-weight:bold; position:sticky; bottom: 0; background:#eee;">
                <th style = "position:sticky; top: 0; background:#eee; "> Sorted By: {{sort}}</th>
                <th class = "myDIV" style = "position:sticky; top: 0; background:#eee; "> {{lbc}}</th>
                <th class = "myDIV" style = "position:sticky; top: 0; background:#eee; "> {{mtc}}</th>
                <th class = "myDIV" style = "position:sticky; top: 0; background:#eee; "> {{tpc}}</th>


             </tr>
         </tfoot>

            </table>

            </div>
        </form>
        </div>
    </center>  
    <script>
        let x = document.querySelectorAll(".myDIV");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                      .toLocaleString('de');
            x[i].innerHTML = num;
            x[i].classList.add("currSign");
        }
    </script>
 
    </body>
</html>